{{!-- The following component displays Ember's default welcome message. --}}
{{#link-to 'index'}}index{{/link-to}}
{{#link-to 'about'}}about{{/link-to}}
<h2>Welcome to Ember.js!</h2>
{{!-- Feel free to remove this! --}}

{{outlet}}